.filters-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.filters-box select {
  background: #111;
  color: #fff;
  border: 1px solid #333;
  padding: 4px;
  font-size: 12px;
  border-radius: 4px;
  flex: 1 1 45%;
}
